* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #8a00ff, #4b6cff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-height: 100vh;
    overflow: hidden;

}

.container {
    width: 100%;
    max-width: 900px;
    background: transparent;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.form-card {
    background: #fff;
    padding: 15px;
    flex: 1;
}

.form-card h2 {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.button-1 {
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #7a00ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button-2 {
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.button-2:hover {
    background-color: #7a00ff;
    color: white;
    box-shadow: 0 0 25px #7a00ff;
                0 0 50px #7a00ff;
                0 0 75px #7a00ff;
                0 0 100px #7a00ff;
}
.signin {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}

.signin a {
    color: #7a00ff;
    text-decoration: none;
}

.right-panel {
    flex: 1;
    background: linear-gradient(135deg, #7a00ff, #5b00cc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel h1 {
    color: white;
    font-size: 48px;
    letter-spacing: 2px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

        .right-panel {
        order: -1;
        font-size: 36px;
        padding: 40px 0;
    }
    }


.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.square li {
    position: absolute;
    list-style: none;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.square li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.square li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.square li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.square li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.square li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.square li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.square li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.square li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.square li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.square li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}